body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.card-info:not(:hover) {
 opacity: 0;
}

.card-info:hover {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0,1),rgba(0, 0, 0,0.75), rgba(255,0,0,0));
}